{% extends "base.html" %}
{% block title %}EV Battery Dashboard{% endblock %}
{% block nav_dash %}active{% endblock %}
{% block content %}
<div class="sec-hdr">
  <div class="sec-title">EV Battery Performance Dashboard</div>
  <div class="sec-line"></div>
  <div class="sec-tag">TABLEAU PUBLIC · LIVE</div>
</div>
<div class="tab-wrap">
  <div class="tab-bar">
    <div class="tab-info">EV Battery Performance &amp; Range Monitoring System</div>
    <div class="win-dots">
      <div class="wd" style="background:#ff5f57"></div>
      <div class="wd" style="background:#febc2e"></div>
      <div class="wd" style="background:#28c840"></div>
    </div>
  </div>
  <div class='tableauPlaceholder' id='viz1773119378579' style='position:relative;width:100%;'>
    <noscript><a href='#'><img alt='Ev DashBoard'
      src='https://public.tableau.com/static/images/EV/EVBatteryPerformanceandRangeMonitoringSystem/EvDashBoard/1_rss.png'
      style='border:none'/></a></noscript>
    <object class='tableauViz' style='display:none;width:100%;'>
      <param name='host_url'             value='https%3A%2F%2Fpublic.tableau.com%2F'/>
      <param name='embed_code_version'   value='3'/>
      <param name='site_root'            value=''/>
      <param name='name'                 value='EVBatteryPerformanceandRangeMonitoringSystem&#47;EvDashBoard'/>
      <param name='tabs'                 value='no'/>
      <param name='toolbar'              value='yes'/>
      <param name='static_image'         value='https://public.tableau.com/static/images/EV/EVBatteryPerformanceandRangeMonitoringSystem/EvDashBoard/1.png'/>
      <param name='animate_transition'   value='yes'/>
      <param name='display_static_image' value='yes'/>
      <param name='display_spinner'      value='yes'/>
      <param name='display_overlay'      value='yes'/>
      <param name='display_count'        value='yes'/>
      <param name='language'             value='en-US'/>
    </object>
  </div>
  <script type='text/javascript'>
    (function(){
      var d=document.getElementById('viz1773119378579');
      var v=d.getElementsByTagName('object')[0];
      if(d.offsetWidth>800){v.style.width='100%';v.style.height='2027px';}
      else if(d.offsetWidth>500){v.style.width='100%';v.style.height='2027px';}
      else{v.style.width='100%';v.style.height='2377px';}
      var s=document.createElement('script');
      s.src='https://public.tableau.com/javascripts/api/viz_v1.js';
      v.parentNode.insertBefore(s,v);
    })();
  </script>
  <div class="tab-footer">Powered by Tableau Public · Click any chart to drill down · Use toolbar to filter &amp; explore</div>
</div>
{% endblock %}
